NEXT_PUBLIC_API_URL=https://jollofplate-api-develop.onrender.com
NEXT_PUBLIC_SITE_URL=https://jollofplate.com
NEXT_PUBLIC_WHATSAPP_NUMBER=+2348083171151
NEXT_PUBLIC_CONTACT_EMAIL=jollofplate@gamil.com
NEXT_PUBLIC_ADDRESS=Ikorodu, Lagos, Nigeria
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
